@base-sapce: 20px;

.layoutHeader {
    background: @m-dark-color;
    padding: 0 @base-sapce 0 @base-sapce;
    .icon {
        cursor: pointer;
        color: #FFF;
        font-size: 24px;
        transition: all .6s;
        &:hover {
            color: @primary-color;
            transform: rotate(-180deg);
        }
    }
    .rightIcons {
        text-align: right;
    }
    .rightIconSpace {
        margin-left: @base-sapce;
    }
}