.layoutHeader {
    background: @m-dark-color;
    padding: 0 10px 0 10px;
    .icon {
        cursor: pointer;
        color: #FFF;
        font-size: 26px;
        transition: all .6s;
        &:hover {
            color: @primary-color;
            transform: rotate(-180deg);
        }
    }
}